PORT=4000
NODE_ENV=development

# Base de datos PostgreSQL
DB_HOST=localhost
DB_PORT=5433
DB_USER=gpon_admin
DB_PASSWORD=gpon_secret
DB_NAME=gpon_inventory

# Seguridad JWT
JWT_SECRET=super_secret_gpon_telecom_jwt_key_2026_fttx
JWT_EXPIRES_IN=7d
